
<%if !@events.empty?%>
<div class="dialog">
 <p>So, you attended <%=@events.first.name%> <%=time_ago_in_words(@events.first.fromtime)%> ago. Did you meet anyone there?</p>


 <%=link_to "Yes", new_contact_path %></br>
 
 <%=link_to "No", edit_event_path(@events.first)%></br>
</div>
<%else%>
 <div class="dialog">
  <p>It looks like we've reviewed your events!'</p>
  <%=link_to "Hooray!", root_path%>
  </div>
<%end%>